body {
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
}

header {
    font-family: sans-serif;
}

/*Used some code and edited the inputs with help from from; Source code from tutorial video: How Do I Get My (Brilliant) Ideas Into The Machine First Project in a cloud IDE Styling a webpage*/
/*tutorial code that I have edited to my liking */

a {
    border: 2px solid black;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: Lato;
    color: #000;
}

a:hover {
    color: grey;
}

li {
    display: inline;
}

nav {
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 5px;
}


#hero-image-index {

    max-width: 98%;
    padding-top: 1px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

img {

    max-width: 100%;
    max-height: fit-content;
    padding: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: "Montserrat", Sans-serif;
    text-align: center;
    color: darkslategray;
    font-weight: 100;
    font-style: italic;
}


h2 {
    font-weight: 100;
}

/*tutorial code that I have edited to my liking ends */

/*custom css code begins */


p {
    text-align: center;
}

.testimonial-title {

    color: aqua;
}

/*testing a testomonial with a bootstrap here (not working)*/

.div justify-content-center {
    background-color: #6c83a2;
}

.home-testimonial-bottom {
    margin-top: 20px;
    margin-bottom: 0px;
    top: 190px
}

.home-testimonial h3 {
    font-family: "Montserrat", Sans-serif;
    color: darkslategrey;
    font-size: 20px;
    font-weight: 500;
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.testimonial-inner {
    top: -174px
}

.testimonial-pos {
    top: 24px
}

.testimonial-inner .tour-desc {
    border-radius: 5px;
    padding: 40px
}

.color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    color: #4b4d4f
}

.testimonial-inner img.tm-people {

    width: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none;
}

.link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    color: #6c83a2
}

.link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    color: #6c83a2
}

/*bootstrap ends*/


.faq {
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    color: #4b4d4f;
}

.faq h2 {
    color: darkslategray;
}

#hero-image-index {
    color: darkslategray;
}

.footer {

    bottom: 0;
    top: 0;

}