/*Source code from tutorial video: How Do I Get My (Brilliant) Ideas Into The Machine First Project in a cloud IDE Styling a webpage*/
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

a {
    border: 2px solid black;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: Lato;
}

li {
    display: inline;
}

nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}

img {
    border: 2px solid black;
    max-width: 60%;
    padding: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

figure {
    margin-top: 40px;
}

p {
    text-align: center;
}

footer { 

    height: 200px;
}